{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact - ENSACF{% endblock %}

{% block body %}
<div>
    <h1>Contactez-nous</h1>
    <p>Formulaire de contact...</p>
</div>
{% endblock %}