{# templates/about/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À propos - ENSACF{% endblock %}

{% block body %}
<div>
    <h1>À propos de l'ENSACF</h1>
    <p>Informations sur l'école...</p>
</div>
{% endblock %}